@charset "UTF-8";
/* CSS Document */

/* ----- beginning reset css ----- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----- end reset css ----- */

body
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.mainUI
{
	width: 100%; 
	position: absolute;
	margin: 0px; 
	left: 0px; 
	right: 0px;
}
#CommentBar
{
	bottom: 0px;
	height: 30px;
	background-color: #39F;
	padding: 4px 0;
}
#CommentBar input, #CommentBar select{
	margin-bottom: 0px;
}
#CommentBar select{
	position: absolute;
	right: 75px;
}
#Comments
{
	background-color: #CCC;
	top: 0px;
	bottom: 30px;
}
#Comments .comment-name
{
	font-size: 10px;
	font-weight: bold;
	position: relative;
	top:-2px;
}
.comment.comment-other{
	text-align: right;
}
.comment .question{
	background: url('../img/question-green.gif');
	color:#222222;
}
.comment .rant{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.comment.comment-other .question{
	background: url('../img/question-blue.gif');
}
.comment.comment-other .rant{
	color: #c76701;
	background-color: #efcda9;
	border-color: #dcb286;}
#Comments li > div
{
	display: inline-block;
	text-align: left;
	max-width: 90%;
}
#UserReg
{
	padding-top: 10%;
	background-color: rgba(203, 203, 203, 0.8);
	height:100%;
	text-align:center;
	top: 0px;
	bottom: 0px;
}
.hidden
{
	display: none;
}

.transparent{
	opacity: 0;
}

.left{
	float: left;
}

.right{
	float: right;
}
#commentsList{
	margin: 10px;
	overflow: auto;
}
.clear{
	clear: both;
}