@charset "UTF-8";
/* CSS Document */

body
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.mainUI
{
	width: 100%; 
	position: absolute;
	margin: 0px; 
	left: 0px; 
	right: 0px;
}
#Comments div
{
	margin: 8px;
	background-color:#0C0;
}
#UserReg
{
	padding-top: 10%;
	background-color: rgba(203, 203, 203, 0.8);
	height:100%;
	text-align:center;
	top: 0px;
	bottom: 0px;
}
.hidden
{
	display: none;
}